<html>
  <head>

    <title>New Team</title>
  </head>
  <body>
    <h1>Create Your Own Sports Team</h1>
    <br>

    <form id='demo-form' action='/team-update' method="post">
      <label>
      Team Name:
        <input type="text" name="teamName" placeholder="Enter Team Name">
      </label>

      <br>
      <br>

      <label>
        Coach Name:
        <input type="text" name="coach" placeholder="Enter Coach Name">
        </label>
        <br>

        <input type='checkbox' name='player' value='Ronaldo' />
        Cristiano Ronaldo
      <br>
        <input type='checkbox' name='player' value='Messi' />
        Lionel Messi
      <br>
        <input type='checkbox' name='player' value='Neymar' />
        Neymar

      <input type='submit' value='Submit' />
    </form>


  </body>
</html>
