<form id='demo-form' action='/team-update' method="post">
  <label>
    Team Name:
    <input type="text" name="teamName" placeholder="Enter Team Name">
  </label>

  <br>
  <br>

  <label>
    Coach Name:
    <input type="text" name="coach" placeholder="Enter Coach Name">
  </label>
  <br>
  <br>
  <label>
    Franchise Player:
    <input type='radio' name='player' value='Ronaldo' />
    Ronaldo

    <input type='radio' name='player' value='Messi' />
    Messi

    <input type='radio' name='player' value='Neymar' />
    Neymar
  </label>
  <br>
  <label>
    Star Players:
    <input type='radio' name='player1' value='Suarez' />
    Suarez

    <input type='radio' name='player1' value='Neuer' />
    Neuer

    <input type='radio' name='player1' value='Bale' />
    Bale
  </label>
  <br>
  <button type="submit" class="btn btn-default" value='Submit'>Submit</button>
</form>
