<html>
  <head>
  </head>
  <body>
    <h1>Pick your players</h1>
    <br>

    <form id='demo-form' action='/team-update' method="post">
        <input type='checkbox' name='Ronaldo' value='true' />
        Cristiano Ronaldo
      <br>
        <input type='checkbox' name='Messi' value='true' />
        Lionel Messi
      <br>
        <input type='checkbox' name='Suarez' value='true' />
        Neymar
      <br>
      <input type='submit' value='Submit' />
    </form>
  </body>
</html>
