<% for(var i= allTeams.length-1 ; i < allTeams.length; i++){ %>
  <br>
  Your team name is: <%= allTeams[allTeams.length-1].teamName %>
  <br>
  Your coach name is: <%= allTeams[allTeams.length-1].coach %>
  <br>
  Your player is: <%= allTeams[allTeams.length-1].player %>
  <br>
  Your 2nd player is: <%= allTeams[allTeams.length-1].player1 %>
  <br>
  <p> ------------- </p>
  <% } %>
  <br>
  <a href='/'>
    <button type="button" class="btn btn-default">Create New Team</button>
  </a>
